<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <form action = "{% url 'result' %}">
        N: <input type = "text" required name = "N"><br><br>
        P: <input type = "text" required name = "P"><br><br>
        K: <input type = "text" required name = "K"><br><br>
        T: <input type = "text" required name = "T"><br><br>
        Humidity: <input type = "text" required name = "Humidity"><br><br>
        pH: <input type = "text" required name = "pH"><br><br>
        Rainfall: <input type = "text" required name = "Rainfall"><br><br>
        <label for="State">State:</label>
        <select name="State" id="State">
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Bihar">Bihar</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="West Bengal">West Bengal</option>
        </select>
        <br><br>
        <input type="submit" value = "Submit">
        </form>
    </form>
</body>
</html>